:root {
  --primary-color: #272142;
  --secondary-color: bisque;
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", serif;
}

h1,
h2 {
  color: black;
  font-weight: bold;
  font-family: var(--primary-font);
}

h2 {
  font-size: 64px;
}

p {
  color: black;
  font-weight: 100;
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  height: 700px;
  padding: 160px 20px;
}

.hero h1 {
  font-size: 98px;
  line-height: 128px;
}
.hero h2 {
  font-size: 24px;
  line-height: 36px;
}

.hero p {
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
}

.btn-branding {
  background-color: var(--primary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  width: 200px;
}

.btn-branding-outline {
  color: red;
  background-color: white;
  border: 1px solid var(--primary-color);
  font-size: 18px;
  line-height: 27px;
}

.project-description {
  padding: 120px 60px;
}

.about-section-content {
  margin: 30px;
}
.headshot {
  border-radius: 8px;
}

.about-section {
  padding: 160px 20px;
}

.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--secondary-font);
  font-weight: bolder;
}

@media (max-width: 900px) {
  h2 {
    font-size: 44px;
  }

  .project-description {
    text-align: center;
    padding: 0;
  }

  .about-section {
    text-align: center;
    padding: 0px;
  }
  .about-section img {
    max-width: 500px;
  }
}
